<header class="main-header" >
    <nav class="navbar">

        <div class="navbar-container">
            <a href="#" class="navbar-logo">Soccer Scan</a>

            <ul class="navbar-menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">RA</a></li>
                <li><a href="#">Trivia</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Estadísticas</a></li>
            </ul>

        </div>

    </nav>
</header>

<!-- 
Mau: 
Este es el NavBar Para Todas Las Paginas del HTML,
Para no tener que modificar C/U de los NavBar de cada pagina. 
-->