:root {


    --color-AC: #85B0F9;
    --color-AM: #3546F8;
    --color-AF: #1A1F7A;
    --color-R: #C30007;
    --color-B: #D9D9D9;
    --letra-Afacado: 'Afacado', Afacad-VariableFont_wght;
    --letra-Quicksilver: 'Quicksilver', Quicksilver;
    --letra-Staatliches: 'Staatliches', Staatliches-Regular;
    --letra-sunshine: 'sunshine', sunshineformulaDEMO;
}



@font-face {
    font-family: "Afacado";
    src: url(/Public/fonts/Afacad-VariableFont_wght.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Quicksilver";
    src: url(/Public/fonts/Quicksilver.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches";
    src: url(/Public/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "sunshine";
    src: url(/Public/fonts/sunshineformulaDEMO.otf)format("opentype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Aqui empieza el diseño de la pagina*/

body {

    background-image: url("/Public/image/grayFound.png");

    /* background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh; */

}


.close-btn {

    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;

}



.wrapper-Foto {

    background-color: #3546F8;
    border-radius: 25px;
    display: grid;
    place-items: center;
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}


.phone-camera {
  position: relative;
  width: 360px;
  aspect-ratio: 9/16;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 80px;
}

#camara {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* no bloquea clics */
  
}

.subFiltro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-AC);
  width: 360px;
  height: 60px;
  margin: 10px auto;
  z-index: 1;
}

.subFiltro ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 60px;
  margin: 0;
}


.close-btn {

    position: fixed;
    top: 70px;
    right: 320px;
    width: 80px;
    height: 80px;

    cursor: pointer;

}

.icon.hover {
    display: none;
}

a:hover .icon.normal {
    display: none;
}

a:hover .icon.hover {
    display: inline;
}