@font-face {
    font-family: "Afacado";
    src: url(/Public/fonts/Afacad-VariableFont_wght.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Quicksilver";
    src: url(/Public/fonts/Quicksilver.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches";
    src: url(/Public/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "sunshine";
    src: url(/Public/fonts/sunshineformulaDEMO.otf)format("opentype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Aqui empieza el diseño de la pagina*/

body{
 
    background-image: url("/Public/image/grayFound.png");
   
    /* background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh; */
    
}


.wrapper-Foto{
      
    background-color: #3546F8;
    border-radius: 25px;
    display: grid;
    place-items: center;
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}


a{
    text-decoration: none;
    color: #3546F8;
}

.phone-camera{
    width: 360px;
    aspect-ratio: 9/16;
    background: black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

#camara{
    transform: scaleX(-1);
}

.close-btn {
 
  position: fixed;   
  top: 10px;        
  right: 10px;       
  font-size: 40px;  
  cursor: pointer;   
     
}

.subFiltro{
   
    text-align: center;
    margin: 20px;
}

.sunbmenu-btn{
    text-align: center;

}
/* #btn{

    
    width: 200px;
    height: 40px;
    font-family: sunshine;
    font-size: 20px;
    color:#3546F8;
    background-color: #FFFFFF;
    border:none;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #1f1e1e;
    text-align:left;
    margin: 20px;
    padding: 10px;  

} */