@font-face {
    font-family: "Afacado";
    src: url(/Public/fonts/Afacad-VariableFont_wght.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Quicksilver";
    src: url(/Public/fonts/Quicksilver.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches";
    src: url(/Public/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "sunshine";
    src: url(/Public/fonts/sunshineformulaDEMO.otf)format("opentype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
 
    background-image: url("/Public/image/redFound.png");
    overflow-y: hidden;
   
}

.indexConteiner{
   
    margin-top: 60px;
    position: relative;
    z-index: 2;

}


#titulo{
    font-family: Quicksilver;
    font-style: italic;
    font-size: 80px;
    color:#FFFFFF;
    text-align: center;
    padding-bottom: 0px;
}


#subtitulo{
     font-family: Staatliches;
     font-size: 60px;
     color:#FFFFFF;
     text-align: center;
     margin: 10px;

}

.wrapper-menu {

    display: grid;
    place-items: center;
    position: relative;
    z-index: 3;
}

.btn{
    
    text-decoration: none;
    width: 348px;
    height: 72px;
    font-family: sunshine;
    font-size: 60px;
    color:#FFFFFF;
    background-color: #3546F8;
    border:none;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #1f1e1e;
    text-align: center;
    margin-bottom: 20px;
    
}
.animacion{
   position: fixed;
   z-index: 1;
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%;
}

marquee{
    
    height: 100vh;
    
}

.ball{
    position: absolute;
    
    
    max-width: 300px;
    animation: animate 4s linear  infinite;
   
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

