@font-face {
    font-family: "Afacado";
    src: url(/Public/fonts/Afacad-VariableFont_wght.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Quicksilver";
    src: url(/Public/fonts/Quicksilver.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches";
    src: url(/Public/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "sunshine";
    src: url(/Public/fonts/sunshineformulaDEMO.otf)format("opentype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
 
    background-image: url("/Public/image/redFound.png");
   
    
}

#titulo{
    font-family: Quicksilver;
    font-style: italic;
    font-size: 80px;
    color:#FFFFFF;
    text-align: center;
    margin-top: 120px;
}


#subtitulo{
     font-family: Staatliches;
     font-size: 60px;
     color:#FFFFFF;
     text-align: center;
     margin: 20px;

}

.wrapper-menu {

    display: grid;
    place-items: center;
   
}

#btn{
    
    text-decoration: none;
    width: 348px;
    height: 72px;
    font-family: sunshine;
    font-size: 60px;
    color:#FFFFFF;
    background-color: #3546F8;
    border:none;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #1f1e1e;
    text-align: center;
    margin-bottom: 20px;
    
}