@font-face {
    font-family: "Afacado";
    src: url(/Public/fonts/Afacad-VariableFont_wght.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Quicksilver";
    src: url(/Public/fonts/Quicksilver.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches";
    src: url(/Public/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "sunshine";
    src: url(/Public/fonts/sunshineformulaDEMO.otf)format("opentype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
 
    background-image: url("/Public/image/grayFound.png");
    
    
}


.wrapper-ra{
      
    background-color: #3546F8;
    border-radius: 25px;
    display: grid;
    place-items: center;
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}



#titulo{
    font-family: sunshine;
    font-style: italic;
    font-size: 80px;
    color:#FFFFFF;
    text-align: center;
    margin-top: 2px;
}


#txt{
    
    font-family: Afacado;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding: 0px 0px 0px 0px;
}


.btn{
    
    text-decoration: none;
    width: 252px;
    height: 80px;
    font-family: Afacado;
    font-size:  30px;
    font-style: italic;
    color:#1A1F7A;
    background-color: #D9D9D9;
    border:none;
    border-radius: 25px;
    box-shadow: 4px 4px 10px #1f1e1e;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #3546F8;
}
.close-btn {
 
  position: fixed;   
  top: 70px;  
  right: 320px;
  width: 80px;      
  height: 80px;       
   
  cursor: pointer;   
     
}

.icon.hover {
  display: none;
}
a:hover .icon.normal {
  display: none;
}
a:hover .icon.hover {
  display: inline;
}


