@font-face{font-family:"Afacado";src:url(/Public/fonts/Afacad-VariableFont_wght.ttf)format("truetype")}
@font-face{font-family:"Quicksilver";src:url(/Public/fonts/Quicksilver.ttf)format("truetype")}
@font-face{font-family:"Staatliches";src:url(/Public/fonts/Staatliches-Regular.ttf)format("truetype")}
@font-face{font-family:"sunshine";src:url(/Public/fonts/sunshineformulaDEMO.otf)format("opentype")}

*{margin:0;padding:0;box-sizing:border-box}
body{overflow:hidden}

body>canvas{display:none!important}
body>video{display:none!important}

#camera-wrapper{contain:strict;overflow:hidden}
#camera-wrapper canvas{position:absolute!important;top:0!important;left:0!important;width:100%!important;height:100%!important}
a-scene{position:absolute!important;top:0!important;left:0!important;width:100%!important;height:100%!important}

.icon.hover{display:none}
a:hover .icon.normal{display:none}
a:hover .icon.hover{display:inline}

#guide-text{transition:opacity 0.4s}

@media(max-width:640px){#camera-wrapper{width:85%!important;border-radius:15px}}
@media(min-width:641px) and (max-width:1024px){#camera-wrapper{width:40%!important}}

/* OCULTAR BOTONES AR/VR DE A-FRAME */
.a-enter-vr-button,
.a-enter-ar-button,
.a-orientation-modal {
    display: none !important;
}