:root {


    --color-AC: #85B0F9;
    --color-AM: #3546F8;
    --color-AF: #1A1F7A;
    --color-R: #C30007;
    --color-B: #D9D9D9;
    --letra-Afacado: 'Afacado', Afacad-VariableFont_wght;
    --letra-Quicksilver: 'Quicksilver', Quicksilver;
    --letra-Staatliches: 'Staatliches', Staatliches-Regular;
    --letra-sunshine: 'sunshine', sunshineformulaDEMO;
}



@font-face {
    font-family: "Afacado";
    src: url(/Public/fonts/Afacad-VariableFont_wght.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Quicksilver";
    src: url(/Public/fonts/Quicksilver.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches";
    src: url(/Public/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "sunshine";
    src: url(/Public/fonts/sunshineformulaDEMO.otf)format("opentype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background-image: url("/Public/image/blueFound.png");
    overflow-y: hidden;

}

#titulo {
    font-family: Quicksilver;
    font-style: italic;
    font-size: 80px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 120px;
}


#pregunta {
    font-family: Staatliches;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    margin: 20px;

}

.wrapper-preguntas {

    place-items: center;
    justify-content: center;
}

.primeraFila {

    list-style-type: none;
    display: flex;

}

.segundaFila {

    list-style-type: none;
    display: flex;

}

.btn {

    text-decoration: none;
    width: 600px;
    height: 150px;
    font-family: sunshine;
    font-size: 50px;
    color: #FFFFFF;
    background-color: #C30007;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #1f1e1e;
    text-align: center;
    margin: 20px;
    padding: 20px 0px 20px 0px;

    transition: background-color 0.5s ease, color 0.5s ease;
    transition-delay: 0.2s;

    transition: transform 0.2s ease, background-color 0.5s ease, color 0.5s ease;
}

.btn:hover {
    background-color: #FFFFFF;
    color: var(--color-AM);
    cursor: pointer;

}

.btn:active {
    transform: scale(1.1);
}

.submenu {
    margin-top: 10px;
    text-align: center;
}

#btnBack {

    text-decoration: none;
    width: 149px;
    height: 50px;
    font-family: sunshine;
    font-size: 20px;
    color: #3546F8;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #1f1e1e;
    text-align: center;
    margin: 20px;
    padding: 10px;

}

.btnClick{
    transition: transform 0.25s ease, background-color 0.5s ease, box-shadow 0.3s ease;
}

.btnClick:hover {
    background-color: var(--color-R);
    color: #FFFFFF;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 6px 6px 14px #1f1e1e;
}

.btnClick:active {
    transform: scale(1.1);
    box-shadow: 2px 2px 6px #1f1e1e inset;
}


#btnNext {
    text-decoration: none;
    width: 149px;
    height: 50px;
    font-family: sunshine;
    font-size: 20px;
    color: #3546F8;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #1f1e1e;
    text-align: center;
    margin: 20px;
    padding: 10px;
}